<footer class="bg-primary-3 text-white links-white py-4 footer-1">
  <div class="container">
    <div
      class="row flex-column flex-lg-row align-items-center justify-content-center justify-content-lg-between text-center text-lg-left">
      <div class="col-auto">
        <div class="text-small">
          <div class="text-muted">Logo made by <a href="https://www.flaticon.com/authors/kiranshastry"
              title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.com/"
              title="Flaticon">www.flaticon.com</a></div>
          <div class="text-muted">&copy; 2020 <a href="/privacy.html">Privacy Policy</a> and <a href="/terms.html">Terms of Service</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<a href="#top" class="btn btn-primary rounded-circle btn-back-to-top" data-smooth-scroll data-aos="fade-up"
  data-aos-offset="2000" data-aos-mirror="true" data-aos-once="false">
  <img src="assets/img/icons/interface/icon-arrow-up.svg" alt="Go to Top" class="icon bg-white" data-inject-svg>
</a>